/* Custom properties */
:root {
    --white: rgb(255, 255, 255);
    --black: rgb(36, 39, 42);
    --light-violet: rgb(118, 136, 212);
}

/* RESET */
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
    width: 80%;
    max-width: 900px;
}

.flex {
    display: flex;
}

/* Elements */
* {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

p {
    line-height: 30px;
}

.btn-small {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 12px;
}

.btn-big {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 18px;
}

/* Utilities */

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.py-115 {
    padding-top: 115px;
    padding-bottom: 115px;
}

.ml-0 {
    margin-left: 0;
}

.mr-10 {
    margin-right: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}


.bg-gray {
    background-color: lightgray;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

/* HEADER */
.header {
    background-color: rgb(53, 93, 224);
    padding: 10px;
}

.header>div {
    padding: 5px 3px;
    align-items: center;
}

header .logo,
header .login {
    width: 20%;
    padding: 5px 3px;
}

.navbar {
    width: 60%;
    color: var(--white);
    font-size: var(--font-sm);
}

.navbar ul {
    list-style-type: none;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.login {
    text-align: end;
}

/* /HEADER */

/* MAIN */
/* Hero section */
.hero-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .container {
    width: 60%;
    max-width: 800px;
}

/* /Hero section */

/* Image-text section */
.image-text-section div {

    /* debug */
    height: 250px;
}

.image-text-section .img {
    width: 60%;
    background-color: rgb(52, 254, 254);
}

.image-text-section .text {
    width: 40%;
    background-color: lightcoral;
}

/* /Image-text section */

/* CTA section */
.cta-section div {
    background-color: green;

    /* debug */
    height: 400px;
}

/* /CTA section */
/* /MAIN */

/* FOOTER  */
.footer {
    background-color: rgb(35, 35, 35);
}

/* Footer top  */
.footer-top {
    padding: 5px var(--padding-lg) 20px;
}

.footer-top>div {
    /* debug */
    height: 250px;
}

.footer-top .large {
    width: 30%;
    background-color: rgb(255, 129, 150);
}

.footer-top .list-section {
    width: 70%;
}

.footer-top .list {
    background-color: aqua;
    width: 100%;
    border-left: 1px dotted white;
}

/* /Footer top */

.footer hr {
    color: gray;
}

/* Footer bottom */
.footer-bottom {
    padding: 15px var(--padding-lg) 0;
}

.footer-bottom>div {
    background-color: aquamarine;
    justify-content: space-between;
    padding: 15px 0;
}

.footer-bottom .logo {
    margin-left: 0;
}

.footer-bottom .button {
    margin-right: 0;
    padding: 2px 7px;
}

/* /Footer bottom */
/* /FOOTER */