@import url(./typography.css);
@import url(./utilities.css);

/* Custom properties */
:root {
    --white: rgb(255, 255, 255);
    --black: rgb(36, 39, 42);
    --light-violet: rgb(118, 136, 212);
    --bg-gray: rgb(245, 245, 245);
}

/* RESET */
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* COMMON */
/* Layout */
.container {
    width: 80%;
    max-width: 900px;
}

.flex {
    display: flex;
}

/* Elements */

.btn-small {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 12px;
}

.btn-big {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 18px;
}

/* HEADER */
.header {
    background-color: rgb(53, 93, 224);
    padding: 10px;
}

.header>div {
    padding: 5px 3px;
    align-items: center;
}

header .logo,
header .login {
    width: 20%;
    padding: 5px 3px;
}

.navbar {
    width: 60%;
    color: var(--white);
    font-size: var(--font-sm);
}

.navbar ul {
    list-style-type: none;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.login {
    text-align: end;
}

/* /HEADER */

/* MAIN */
/* Hero section */
.hero-section {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .container {
    width: 60%;
    max-width: 800px;
}

/* /Hero section */

/* Image-text section */

.image-text-section .img {
    width: 60%;
}

.image-text-section .text {
    width: 40%;
}

.wave,
.wave-reverse {
    width: 100%;
    color: var(--bg-gray);
    background-color: white;
}

.wave-reverse {
    rotate: 180deg;
    transform: scaleX(-1);
}

/* /Image-text section */

/* CTA section */
.question {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top center;
    flex-direction: column;
}

/* /CTA section */
/* /MAIN */

/* FOOTER  */
.footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
}

.footer h6 {
    color: var(--light-violet);
}

/* Footer top  */
.footer-top .large {
    width: 30%;
}

.flag-ita {
    width: 25px;
}

.chevron {
    width: 20px;
}

.footer-top .large li {
    margin: 0;
}

.social svg {
    color: var(--white);
    width: 25px;
}

.footer-top .list-section {
    width: 70%;
}

.footer-top .list {
    width: 100%;
}

.footer-top .list-section a {
    display: inline-block;
    margin-top: 15px;
}

/* /Footer top */

.footer hr {
    border-color: var(--light-violet);
}

/* Footer bottom */

.footer-bottom a {
    margin: 0;
}

/* /Footer bottom */
/* /FOOTER */