/* COLOR */
.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.violet {
    color: var(--light-violet);
}

/* BACKGROUND */

.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-violet {
    background-color: var(--light-violet);
}

/* PADDING */
/* Padding top */
.pt-4 {
    padding-top: 1.25rem;
}

.pt-12 {
    padding-top: 3rem;
}

.pt-29 {
    padding-top: 7.25rem;
}

.pt-33 {
    padding-top: 8.25rem
}

/* /Padding top */


/* Padding bottom */
.pb-8 {
    padding-bottom: 2rem;
}

.pb-25 {
    padding-bottom: 6.25rem;
}

.pb-27 {
    padding-bottom: 6.75rem;
}

.pb-33 {
    padding-bottom: 8.25rem;
}

/* /Padding bottom */

/* Vertical padding */
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* /Vertical padding */

/* Padding right */
.pr-12 {
    padding-right: 3rem;
}

/* /Padding right */

/* MARGIN */
/* Margin top */
.mt-5 {
    margin-top: 1.25rem;
}

/* /Margin top */

/* Margin bottom */
.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-12 {
    padding-bottom: 3rem;
}

/* /Margin bottom */

/* Margin left */
.ml-0 {
    margin-left: 0;
}

/* /Margin left */

/* Margin right */
.mr-1 {
    margin-right: 0.25rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

/* /Margin right */

/* ALIGN ELEMENTS */

.text-center {
    text-align: center;
}

.vertical-align-center {
    vertical-align: middle;
}

/* Flex classes */

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-4 {
    gap: 1rem;
}